{% extends 'back.html.twig' %}
{% block body %}
    <div class="row">

        <div class="col-md-6 grid-margin stretch-card offset-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Modifier la destination </h4>
                    <p class="card-description"> Mofifcation</p>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}